@use '../custom' as *;
@use '../components/mixins';


.global_button {
    border-radius: 0;
    border: 2px solid;
    padding: 0.5rem 0.875rem;
    font-size: 1rem;
    font-weight: 700;
    
    @include media-breakpoint-down(lg) {
        color: $white;

        &:hover {
            background-color: white;
            color: $primary;
        }
    }
    
}
